langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
langchain-openai
sentence-transformers
pypdf
python-dotenv
pymupdf
pdfminer
python-docx
docx2txt
unstructured
pandas
numpy
matplotlib
langchain-HuggingFace
transformers
